<!DOCTYPE html>
<html>
<head>
  <title>Zm</title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'logined.css' %>

  <%= stylesheet_link_tag "resources/css/ext-all.css" %>
  <%= javascript_include_tag "ext_js/ext-base.js" %>
  <%= javascript_include_tag "ext_js/ext-all-debug.js" %>
  <%= javascript_include_tag "interface.js" %>
</head>
<body>
<% if current_user %>
  <div class='logined'><%= link_to('退出', destroy_user_session_path) %> |
  <%= "当前用户" + current_user.email%></div>
<% else %>
  <div>
  <%= link_to('註冊', new_registration_path(:user)) %> |
  <%= link_to('登入', new_session_path(:user)) %></div>
   <% end %>
<div><%= acts_as_menu %></div>
<%= yield %>

</body>
</html>
